@font-face
{
    font-family: 'Carveat';
    src: url('fonts/Caveat.woff') format('woof');
    src: url('fonts/Caveat.ttf') format('ttf');
    src: url('fonts/Caveat.svg') format('svg');
}
@font-face
{
    font-family: 'Exo2';
    src: url('fonts/Exo2.woff') format('woof');
    src: url('fonts/Exo2.ttf') format('ttf');
    src: url('fonts/Exo2.svg') format('svg');
}
@font-face
{
    font-family: 'Comfortaa';
    src: url('fonts/Comfortaa.woff') format('woof');
    src: url('fonts/Comfortaa.ttf') format('ttf');
    src: url('fonts/Comfortaa.svg') format('svg');
}
h1{
    font-family: 'Carveat';
}
h2{
    font-family: 'Exo2';
    margin-bottom: 1.2em;
    margin-top: 0.2rem;
    text-align: left;
    text-indent: 25px;
}
p{
    font-family: 'Comfortaa';
    text-indent: 25px;
    text-align: justify;
    font-size: 25px;
}